<body >

      <router-outlet></router-outlet> <br><br>
   <a routerLink="employee-list" routerLinkActive="router-link-active">Employees</a> <br>
   <a routerLink="view-employee" routerLinkActive="router-link-active">My Details</a> <br>
   <a routerLink="add-employee" routerLinkActive="router-link-active">Add Employees</a> <br>
   <a routerLink="edit-password" routerLinkActive="router-link-active">Change Password</a> <br>
   <a routerLink="login" routerLinkActive="router-link-active">Login</a>
  </body>
