<canvas id="Editor" style="background-color: rgb(126, 183, 236); position: relative;" height="500px" width="500px"></canvas>
<div class="container">
  <div id="options">
    <div class="list" id="textBox" draggable="true">
      <i class="fas fa-font"></i> Text Box
    </div>
    <div class="list" id="textArea" draggable="true">
      <i class="fas fa-align-left"></i> Text Area
    </div>
    <div class="list" id="dropDown" draggable="true">
      <i class="fas fa-list"></i> DropDown
    </div>
    <div class="list" id="table" draggable="true">
      <i class="fas fa-table"></i> Table
    </div>
    <div class="list" id="datePicker" draggable="true">
      <i class="fas fa-calendar-alt"></i> Date Picker
    </div>
  </div>
</div>
