<div class="container">
  <h1>Update Password</h1>
  <form [formGroup]="UpdatePasswordForm" (ngSubmit)="onSubmit()">

    <div>
      <label for="email">Email:</label>
      <input id="email" formControlName="email" type="email" required>
      <div *ngIf="UpdatePasswordForm.get('email')?.invalid && UpdatePasswordForm.get('email')?.touched">
        <small *ngIf="UpdatePasswordForm.get('email')?.errors?.['required']">Email is required.</small>
        <small *ngIf="UpdatePasswordForm.get('email')?.errors?.['email']">Enter a valid email.</small>
      </div>
    </div>

    <div>
      <label for="password">Password:</label>
      <input id="password" formControlName="password" type="password" required>
      <div *ngIf="UpdatePasswordForm.get('password')?.invalid && UpdatePasswordForm.get('password')?.touched">
        <small *ngIf="UpdatePasswordForm.get('password')?.errors?.['required']">Password is required.</small>
      </div>
    </div>

    <div>
      <label for="confirmPassword">Confirm Password:</label>
      <input id="confirmPassword" formControlName="confirmPassword" type="password" required>
      <div *ngIf="UpdatePasswordForm.get('confirmPassword')?.invalid && UpdatePasswordForm.get('confirmPassword')?.touched">
        <small *ngIf="UpdatePasswordForm.get('confirmPassword')?.errors?.['required']">Confirm Password is required.</small>
        <small *ngIf="UpdatePasswordForm.get('confirmPassword')?.errors?.['pattern']">
          Must contain at least one number, one uppercase letter, one lowercase letter, one special character, and at least 8 or more characters.
        </small>
      </div>
    </div>

    <button type="submit">Update Password</button>
  </form>
</div>
