<div>
 <span style="display:flex ;margin-left: 80%;">
  <button id="save" (click)="saveTemplate()" >Save</button>
  <button id="preview" (click)="showPreview()" >Preview</button>
  <button id="cancel" (click)="cancelEditing()">Close</button>
 </span></div>
<div class="buttons-container">
  <div>
  <button *ngIf="selectedElementIndex !== -1" (click)="removeElement(canvasElements[selectedElementIndex].id)">
    Remove
  </button>
  <button *ngIf="canvasElements[selectedElementIndex]?.type === 'dropdown'" (click)="addOption(canvasElements[selectedElementIndex].id)">
    Add Option
  </button>
  <button *ngIf="canvasElements[selectedElementIndex]?.type === 'dropdown'" (click)="removeOption(canvasElements[selectedElementIndex].id)">
    Remove Option
  </button>
  <button *ngIf="canvasElements[selectedElementIndex]?.type === 'table'" (click)="addRow(canvasElements[selectedElementIndex].id)">
    Add Row
  </button>
  <button *ngIf="canvasElements[selectedElementIndex]?.type === 'table'" (click)="addColumn(canvasElements[selectedElementIndex].id)">
    Add Column
  </button>
  <button *ngIf="canvasElements[selectedElementIndex]?.type === 'table'" (click)="removeRow(canvasElements[selectedElementIndex].id)">
    Remove Row
  </button>
  <button *ngIf="canvasElements[selectedElementIndex]?.type === 'table'" (click)="removeColumn(canvasElements[selectedElementIndex].id)">
    Remove Column
  </button>
</div>
</div>
<div class="container" contenteditable="false">
  <div class="toolbar">
    <div class="toolbar-item" draggable="true" (dragstart)="onDragStart($event, 'textbox')">
      <span><i class="fas fa-font"></i><br> Textbox</span>
    </div>
    <div class="toolbar-item" draggable="true" (dragstart)="onDragStart($event, 'textarea')">
      <span><i class="fas fa-align-left"></i><br>Textarea</span>
    </div>
    <div class="toolbar-item" draggable="true" (dragstart)="onDragStart($event, 'dropdown')">
      <span><i class="fa-solid fa-list"></i><br>Dropdown</span>
    </div>
    <div class="toolbar-item" draggable="true" (dragstart)="onDragStart($event, 'datepicker')">
      <span><i class="fa-solid fa-calendar-days"></i><br>Datepicker</span>
    </div>
    <div class="toolbar-item" draggable="true" (dragstart)="onDragStart($event, 'table')">
      <span><i class="fa-solid fa-table"></i><br>Table</span>
    </div>
    <div class="toolbar-item" draggable="true" (dragstart)="onDragStart($event, 'h-ruler')">
      <span><i class="fa-solid fa-ruler-horizontal"></i><br>Ruler</span>
    </div>
  </div>
  <div id="canvas-container" class="canvas-container">
    <div #canvas id="canvas" class="canvas" contenteditable="true" (dragover)="onDragOver($event)" (drop)="onDrop($event)">
      Hi Dhana !
    </div>
  </div>
</div>

<!-- <lib-preview-library></lib-preview-library> -->
